.user{
    flex: 4;
    padding: 20px;
}

.user-titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-addButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.user-container {
    display: flex;
    margin-top: 20px;
}

.user-show {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-update {
    flex: 2;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-showTop {
    display: flex;
    align-items: center;
}

.user-showImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-showTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-showUsername {
    font-weight: 600;
}

.user-showBottom {
    margin-top: 20px;
}

.user-showTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.user-showInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.user-showInfoTitle  {
    margin-left: 10px;
}

.user-updateTitle{
    font-size: 24px;
    font-weight: 600;
}

.user-updateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.user-updateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-updateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.user-updateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.user-updateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-updateUpload{
    display: flex;
    align-items: center;
}

.user-updateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.user-updateIcon{
    cursor: pointer;
}

.user-updateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #0F5B9A;
    color: white;
    font-weight: 600;
}